In [1]:
# iterables and iterators

lst=["ram","shyam","gopal"]
p = iter(lst)
print(next(p))
print(next(p))
print(next(p))

ram
shyam
gopal

In [3]:
# itertool module
# chain(*iterables)

from itertools import *

b = ["ram","shyam","gopal"]
g = ["shreya","neha","tanvi"]

for nms in chain(b,g):
    print(nms)

# or using lst

lst = list(chain(b,g))
print(lst)

ram
shyam
gopal
shreya
neha
tanvi
['ram', 'shyam', 'gopal', 'shreya', 'neha', 'tanvi']

In [5]:
#usnig cycle iterable

from itertools import *

b = ["ram","shyam","gopal"]

p=cycle(b)

for i in range(1,6):
    print(next(p))

ram
shyam
gopal
ram
shyam

In [6]:
# zip (*iterable)

fnames = ["seeta","geeta","yogita","ram"]

lnames = ["gupta","mishra","karale","deshmukh"]

for fnames,lnames in zip(fnames,lnames):
    print(fnames,lnames)

seeta gupta
geeta mishra
yogita karale
ram deshmukh

In [7]:
#simiparly we can use combinations